:root {
  --font-main: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Symbols";
  --headline-color: oklab(0.999994 0.0000455678 0.0000200868);
  --form-background: oklab(0.35016 0.00197881 -0.0119994);
  --normal-text-color: oklab(0.906424 -0.000235766 -0.0028885);
  --input-bg: oklab(0 0 0 / 0.2);
  --input-color: oklab(0.906424 -0.000235766 -0.0028885);
  --label-color: oklab(0.999994 0.0000455678 0.0000200868);
  --required-color: oklab(0.772044 0.119344 0.0515409);
  --btn-bg: rgb(88, 101, 242);
  --btn-bg-hover: rgb(71, 82, 196);
  --link-color: oklab(0.747617 0.00671133 -0.126112);
  --need-account: oklab(0.751834 0.00131807 -0.008479);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/ggsans/ggsans-normal.woff2) format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/ggsans/ggsans-medium.woff2) format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 600;
  src: url(./assets/fonts/ggsans/ggsans-semibold.woff2) format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/ggsans/ggsans-bold.woff2) format("woff2");
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-main);
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  font-weight: inherit;
  font-style: inherit;
}

h1, p {
  line-height: 1.25;
  vertical-align: baseline;
}

h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: var(--headline-color);
}

h2 {
  color: var(--headline-color);
  font-size: 24px;
  font-family: inherit;
  font-weight: 600;
}

p {
  line-height: 20px;
  font-family: inherit;
  color: var(--normal-text-color);
  font-size: 16px;
  font-weight: 400;
}

input {
  background: var(--input-bg);
  font-family: inherit;
  color: var(--input-color);
  border-radius: 8px;
  padding: 12px 10px;
  border: 1px solid oklab(0.678888 0.00325716 -0.011175 / 0.2);
  outline: none;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
}

input:focus {
  border: 1px solid oklab(0.74783 -0.0289609 -0.111271);
}

a {
  color: var(--link-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.login-page {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.svg-logo-text {
  position: absolute;
  top: 48px;
  left: 48px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authBox {
  background: var(--form-background);
  width: 784px;
  padding: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  flex-wrap: nowrap;
}

.right-section .login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.right-section .login-container .qr-code {
  width: 176px;
  height: 176px;
  background-color: white;
  margin: 0 auto 20px;
  position: relative;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 32px;
}

.right-section .login-container .qr-code svg {
  width: 160px;
  height: 160px;
}

.right-section .login-container .qr-code img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}

.right-section .login-container h2 {
  margin-bottom: 8px;
  line-height: 30px;
  font-weight: 600;
  font-size: 24px;
}

.right-section .login-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 240px;
}

.right-section .login-container p strong {
  font-weight: 600;
}

.right-section .login-container a {
  padding: 2px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}

.main-form {
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-form .main-form-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.main-form form {
  display: flex;
  flex-direction: column;
}

.main-form form .input-groups {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 416px;
}

.main-form form .input-groups .email-wrapper,
.main-form form .input-groups .password-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.main-form form .input-groups .email-wrapper label,
.main-form form .input-groups .password-wrapper label {
  color: var(--label-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.main-form form .input-groups .email-wrapper label span,
.main-form form .input-groups .password-wrapper label span {
  color: var(--required-color);
}

.main-form form .forgot-password {
  margin-top: 4px;
  margin-bottom: 20px;
}

.main-form form .forgot-password a {
  font-size: 14px;
  font-weight: 400;
}

.main-form form .login {
  position: relative;
  margin-bottom: 12px;
}

.main-form form .login button {
  width: 416px;
  background: var(--btn-bg);
  color: #fff;
  padding: 7px 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  outline: none;
  border-radius: 8px;
  line-height: 24px;
  font-family: inherit;
  font-size: 16px;
  height: 44px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.17s ease;
}

.main-form form .login button:hover {
  background: var(--btn-bg-hover);
}

.main-form form .small-register {
  display: flex;
  gap: 4px;
}

.main-form form .small-register a {
  font-size: 14px;
  font-weight: 400;
}

.main-form form .small-register span {
  color: var(--need-account);
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .authBox {
    flex-direction: column;
    width: 100%;
    max-width: 480px;
  }
  
  .right-section {
    display: none;
  }
  
  .main-form form .input-groups {
    width: 100%;
  }
  
  .main-form form .login button {
    width: 100%;
  }
}
